@tailwind base;
@tailwind components;
@tailwind utilities;


/* =========================
   INFINITE MARQUEE
========================= */

.marquee-wrapper {
    width: 100%;
    overflow: hidden;
}

.marquee-content {
    display: flex;
    width: max-content;
}

.marquee-item {
    white-space: nowrap;
    padding-right: 60px;
    font-weight: 600;
}

/* single marquee animation */
@keyframes marquee-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee-scroll 30s linear infinite;
}


/* =========================
   FLOATING IMAGE ANIMATION
========================= */

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}